/* WORK SANS FONT FROM GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

/* UNIVERSAL */
* {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Work Sans;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #ff8401;
    padding: 20px 25px;
    border: 0;
    border-radius: 0.8rem;
}

.text-light-gray {
    color: #727272;
}


/* HEADER NAV SECTION */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* BANNER STYLES */
.banner-content {
    max-width: 140%;
    text-align: center;
    margin: 0 auto;

}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banerimg {
    margin-top: 30px;
    max-width: 100%;
}


/* MAIN STYLES */

main {
    max-width: 140%;
    margin: 70px;
}

/* TEAMS STYLE */
.teams-container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    column-gap: 2.5rem;
}

img {
    max-width: 120%;
}

.teams-content {
    padding-left: 70px;
    padding-right: 30px;
}

.teams-title {
    font-size: 2.7rem;
}

.teams-title .quick-list {
    color: #727272;
    font-weight: 500;
}

.teams-title .of-our {
    color: #131313;
    font-weight: 700;
}

.teams-title .features {
    color: #FF900E;
}

/* FEATURE SECTION  STARTS*/
.features{
    margin-top: 110px;
    display: flex;
    gap: 60px;
}
.features .section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.features-content .card {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    background: #fffefe;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.189);
}
.feature-img img{
    width: 120%;
    padding-top: 80px;
}
.ten-years-badge{
    border-radius: 8px;
    color: #fffefe;
    background: #FF900E;
    width: 200px;
    padding: 30px;
    position: relative;
    bottom: 150px;
}
.ten-years-badge h2{
    font-size: 3rem;
    margin: 10px 20px;
}
.ten-years-badge p{
    font-size: 1.3rem;
    margin: 10px 20px;
}

/* FACTS SECTION  */
.facts-text-container {
    padding: 10px 50px;
    text-align: left;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px 15px;
}

.facts-card-container .card-title {
    font-weight: 600;
    font-size: 1.25rem;
    padding: 20px 30px;
}

.facts-card-container .card-stats {
    font-size: 2.5rem;
    color: #424242;
    margin: 5px 8px;
}

/* SPONSORS SECTION  */
.sponsors {
    text-align: center;
}

.sponsors-img-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    gap: 20px;
    align-items: center;
}

/* RESPONSIVE MEDIA QUERIES */
/* MOBILE DEVICES */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    main {
        margin: 40px auto;
    }
    .teams-container,
    .facts-card-container,
    .sponsors-img-container,
    .features {
        margin: 0 auto;
        flex-direction: column;
    }
    .feature-img img{
        width: 80%;
    }
    .teams-img-container {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }

    nav {
        flex-direction: column;
    }

    .facts-text-container {
        padding: 10px 50px;
        text-align: center;
    }

    .teams-content,
    .facts-card-container {
        padding: 30px;
        text-align: center;
    }

    .facts-card-container {
        gap: 1.1rem;
    }

}

/* TABLET/MEDIUM DEVICES */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    nav,
    .features,
    .teams-container,
    .sponsors-img-container {
        flex-direction: column;
    }
    .feature-img img{
        height: 50%;
    }
    .teams-img-container {
        grid-template-columns: 1fr 1fr;
        row-gap: 1rem;
        column-gap: 4rem;
    }
}